body {
	text-align: center;
	margin:0;
}

.uppercase {
	text-transform: uppercase;
}

.intro {
	background-color: #0CC6E8;
}

header {
	background-color: #f15b31;
	color: #ffffff;
	padding: 30px 20px;
}

nav{
	background-color: #00a63b;
	color: #FFFFFF;
	padding: 20px 0;
}

main {
	width:850px;
	margin: 35px auto;
}

h1 {
	font-family: raleway, sans-serif;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin:0;
}

a {
	font-family:raleway, sans-serif;
	color:#f15b31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin:0 20px;
	color: #ffffff;
	text-decoration: none;
	border-bottom:2px solid transparent;
}

a:hover {
	border-color: white;
}

h2 {
	font-family: raleway, sans-serif;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p {
	font-family: "droid serif", sans-serif;
	line-height: 26px;
	font-size: 20px;
}

img {
	margin: 40px 8px 0px 8px;
}

footer{
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0d2c40;
	color:white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;

}


.copyright, .message {
	font-family: raleway, sans-serif;

}

.copyright {
	float:left;
}

.message {
	float:right;
}

.clearfix:after {
	content: " ";
	clear:both;
	display: block;
	visibility: hidden;
	height: 0;
	font-size: 0;
}

.name {
	color:#f15b31;
	font-weight: 700;
}





